@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    /* font-style: normal; */
    /* font-display: swap; */
  }

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    /* font-style: normal; */
    /* font-display: swap; */
  }

* {
    outline: solid 1px red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    max-width: 100%;
    /* overflow: auto; */
    /* overflow-y: hidden; */
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    background-color: white;
	font-family: "OpenSans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.body::-webkit-scrollbar {
    display: none;
}

h2 {
    margin: auto;
    font-size: 1.25rem;          /*    <------- 20px     */
    font-weight: 700;
}

h3 {
    font-size: 19.99px;
}

h4 {
    font-size: 0.88rem;          /*14px*/
}

h5 {
    font-size: 13.99px;
}

.header-content {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.header__title {
    text-align: center;
    font-weight: 700;
}

.head__nav {
    display: flex;
}


.header__logo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

/*----------- burger --------------*/
#burger__checkbox {
    opacity: 0;
}

.burger__btn {
    display: flex;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
    display: block;
    position: absolute;
    right: 0;
    width: 26px;
    height: 2px;
    background-color: #f3f7f6;}

.burger__btn > span::before {
    content: '';
    top: -8px;}

.burger__btn > span::after {
    content: '';
    top: 8px;}

/*----- trends ---------*/
.trends-container {
    margin-left: auto;
    margin-right: auto;
}

.title-page {
    margin-top: 40px;                           /*  h2   */
    text-align: center;
    line-height: 29px;
    color: #0f0d0e;
}

.title-page::after {
    content: '';
    display: block;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 66px;
    height: 3px;

    background-color: #b59f5b;
    opacity: 0.400;
}

.trends-content {
    display: flex;
    flex-direction: column;
    padding: 0.3%;
    gap: 3px;
}

.trend {
    position: relative;
    min-height: 310px;
    display: flex;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: flex-end;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.trend::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    color: white;
}

.garden {
    background-image: url("../images/trend1.jpg");
}

.chees {
    background-image: url("../images/trend2.jpg");
}

.mountins {
    background-image: url("../images/trend3.jpg");
}

.limun {
    background-image: url("../images/trend4.jpg");
}

.trend__info {
    display: flex;
    margin-top: 3%;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid #b59f5b;
    font-weight: 700;
}

.trend__tags {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 10px;
    list-style-type: none;
    font-size: 13.99px;
    font-weight: 700;
    color: #ae9e5f;
}


.trend__tag {
    margin-right: 20px;
    z-index: 2;
}

.tag-link {
    text-decoration: none;
    color: inherit;
}

.tag-link:hover {
    text-decoration: underline;
}

.trend__title {
    margin-top: 0px;
    line-height: 24px;
    color: inherit;
    z-index: 2;
}

.trend__title:hover {
    color: #ae9e5f;
}

.trend__link {
    text-decoration: none;
    color: inherit;
}


/* -------- page2 MAIN ---------- */

/* d: 773 + 122 + 270 = 1165 (247 <--> 1020 <--> 1142 <--> 1412)
   t: 391 +  36 + 270 =  697 ( 35 <-->  426 <-->  462 <-->  732)
   m: 305                    ( 35 <---> 340)
*/

.main-conteiner {
    display: flex;
    justify-content: center;
    padding: 3px;
}


/* -------- page2 POSTS ---------- */
.posts-list {
    max-width: 100%;
}

.post {
    max-width: 100%;
    /*min-height: 290px; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    border-bottom: 3px solid #eeeeee;
}

.post__picture {
    max-height: 297px;
    min-width: 100%;
        /* min-width: 212px; */
        /* width: 328px;
        height: 253px; */
}

.post__img {
    width: 100%;
    height: 100%;
    display: block;
        /* height: 290px; */
    object-fit: cover;
}

.post-info {
    width: 360px;
        /* min-width: 289px; */
        /* padding-left: 3.33%; */
        /* padding-right: 13%; */
    margin-top: 5%;
    box-sizing: border-box;
    color: black;
}

.post-tags {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #ae9e5f;
}

.post-tag {
    margin-right: 20px;
}

.post-tag-link {
    color: #b59f5b;
    text-decoration: none;
}

.post-tag-link:hover {
    text-decoration: underline;
}

.post-title-link {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
}

.post-title-link:hover {
    color: #ae9e5f;
}

.post__frame {
    margin-top: 8%;
    margin-bottom: 8%;
    text-transform: none;
}

.post-data, .post-author {
    display: inline-block;
    margin-right: 1.93%;
    font-size: 12px;
}

.post__text-container {
    display: flex;
    max-width: 350px;
    margin-bottom: 8%;
        /* height: 174px; */
        /* margin-right: -10%; */
}

.post__text {
    /* margin-top: auto;
    margin-bottom: auto; */
    text-transform: none;
    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: 400;
}



/* -------- page2 SIDE BAR---------- */

/* .side-bar {
    width: 23%;
    min-width: 270px;
}*/

.side-bar__title {
    margin-top: 60px;
    text-align: center;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
}

.side-bar__title:nth-child(1) {
    margin-top: 0;
}

.side-bar__title::after {
    content: '';
    display: block;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 66px;
    height: 3px;

    background-color: #b59f5b;
    opacity: 0.400;
}

/* -------- page2 SIDE BAR: 1. news-posts --------- */

.last-post__item {
    display: flex;
    margin-bottom: 20px;
    font-size: 14px;
}

.last-post__link  {
    display: flex;
    text-decoration: none;
}

.last-post__link:hover {
    color: #ae9e5f;
}

.last-post__img {
    max-width: 25%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background-color: #f4f7f6;
}

.last-post__info {
        /* width: 69%; */
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.last-post__data {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    opacity: 0.541;
    font-size: 12px;
    color: #000000;
    text-transform: none;
}

.last-post__data:hover {
    color: #ae9e5f;
}

.last-post__title {
    margin-top: 0.14em;
    margin-bottom: 0px;
    font-size: 13.99px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
}

.last-post__title:hover {
    color: #ae9e5f;
}

/* -------- page2 SIDE BAR: search-form + subscribe-form --------- */
.side-bar__search, .side-bar__subscribe {
    display: flex;
}

.side-bar__search {
    width: 100%;
    margin-top: 60px;
    justify-content: space-between;
}

.side-bar__subscribe {
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.search__input, .subscribe__input {
    height: 48px;
    padding-left: 15px;
    border: none;
    background-color: #f4f7f6;
    opacity: 0.541;
    font-size: 13px;
    line-height: 40px;
    color: #000000;
}

.search__input {
    min-width: 83%;
    /* min-width: 222px; */
}

/*  */
.subscribe__input, .subscribe__btn {
    width: 100%;
    /* min-width: 270px; */
    max-width: 305px;
}

.search__input:focus, .subscribe__input:focus {
    margin-right: 1px;
    border: 1px solid #b59f5b;
    background-color: #f4f7f6;
}

.search__input:hover, .subscribe__input:hover {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.search__btn, .subscribe__btn {
    height: 48px;
    background-color: #ae9e5f;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.search__btn {
    width: 48px;
    background-image: url("../svg/search.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe__btn {
    vertical-align: middle;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.search__btn:hover, .subscribe__btn:hover {
    background-color: #323232;
}

/* -------- page2 SIDE BAR: Tags-list -------*/
.side-bar__tags-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-decoration: none;
    color: #0f0d0e;
}

.side-bar__tags-item {
    height: 30px;
    gap: 5px;
    list-style: none;
    text-decoration: none;

    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
}

.side-bar__tags-link {
    padding: 4px 12px;
    vertical-align: middle;
    text-decoration: none;
    color: #0f0d0e;
}

.side-bar__tags-item:hover {
    border: 3px solid #b59f5b;
}

/* -------- page2 SIDE BAR: Categories-list (Темы)-------*/
 .side-bar__themes-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.side-bar__themes-item {
    width: 100%;
    border-bottom:1px solid #eeeeee;
}

.side-bar__themes-link {
    max-height: 30px;
    padding: 4px 12px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
}

.side-bar__themes-link:hover {
    color: #b59f5b;
}

sup {
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
}

/* --------- shop -----------*/
/* .shop {
    width: 1165px;
    min-width: 897px;
    margin: 60px auto 0px;
} */

.shop {
    /* padding-left: 6%;
    padding-right: 6%; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 45px auto 0;
}
.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    /* padding-left: 4%;
    padding-right: 4%; */
    padding-left: 23px;
    padding-right: 23px;
    gap: 4%;
}

.good-card {
    display: flex;
    flex-direction: column;
}

.good__img-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    background-color: #eff6f1;
}

/* .good__img {
    width: 100%;
    height: 100%;
} */

.good__info {
    /* width: 347px;*/
    min-height: 267px;
   /* padding-left: 23px;
    padding-right: 23px; */
    margin-left: -6%;
    margin-right: -6%;
    padding: 20% 6% 6% 6%;
    background-color: rgba(0,0,0,0);
    border: 3px solid #b59f5b;
}

.good__title {
    /* margin-top: 60px;
    font-size: 19.99px;
    line-height: 24px; */
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
}

.good__description {
    /* width: 301px; */
    max-width: 100%;
    text-transform: none;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
}

.good__link {
    text-decoration: none;
    text-transform: none;
    color: #b59f5b;
}
.good__link:hover {
    height: 54px;
    text-decoration: underline;
}

.good_basket {
    width: 100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.price {
    width: 140px;
    height: 48px;
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
}

.price__now {
    font-size: 20px;
}

.price__old {
    font-size: 14px;
    text-decoration: line-through;
}

.go-to-shop {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.go-to-shop:hover {
    background-color: #323232;
}


/* ------- footer --------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5%;
    padding-right: 1.5%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #f5f7f6;
}

.wrapper-social-link {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: auto;
    align-content: center;
    box-sizing: content-box;
}

.social-link {
    width: 20px;
    height: 20px;
    justify-content: space-evenly;
    cursor: pointer;
    box-sizing: content-box;
}

.footer__copyright {
    width: 100%;
    margin-bottom: 40px;
    display: block;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    color: #999999;
}




@media (max-width:640px) and (orientation: portrait) {

    h1 {
        max-width: 603px;
        font-weight: 700;
        font-size: 26px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 15.99px;
    }


    /*--------- page 1 part1: BANNER+LOGO+NAV+TITLE -- mobile ----*/
    .header-container {
        /* width: 360px; */
        min-height: 640px;
        /* height: 640px; */
        margin: 0 auto 0 auto;
        position: relative;
        text-align: center;
        background-image: url("../images/banner-mobile.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 0;
    }

    .header-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: -1;
    }

    .header__title {
        width: 328px;
        min-height: 384px;
        padding-right: 10px;
        padding-left: 15px;
        line-height: 36px;
    }

    .header__menu {
        width:100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        position: relative;
    }


    .header__logo {
        width: 270px;
        height: 60px;
        margin: 65% auto 15% auto;
        background-image: url("../svg/noemi-logo.svg");
    }

    .header__burger {
        align-self: flex-end;
        display: block;
        position: relative;
        margin-top: 20px;
        margin-right: 0;
        transform: translateX(500%);
    }

    .header__list {
        display: none;
    }

    /*----- trends (mobile) -----*/
    .trends-container {
        max-width: 360px;
    }

    .trend__info {
        padding: 11% 6% 9% 6%;
            /* padding: 36px 20px 30px 20px;( 330px )*/
    }

    /* .trend {
        min-height: 310px;
    } */


    .main-conteiner {
        max-width: 350px;
        /* width: 350px; */
        padding-left: 6%;
        padding-right: 6%;
        flex-wrap: wrap;
        margin: 45px auto 0;
        gap: 5%;
    }


    .shop {
        max-width: 360px;
        /* padding-left: 6%;
        padding-right: 6%;
        margin: 45px auto 0; */
    }

    .shop-container{
        max-width: 100%;
        flex-direction: column;
    }

    .good-card {
        max-width: 330px;
        /* min-height: 262px; */
        margin-bottom: 25px;
    }

    .good__img-wrapper {
        max-width: 285px;
        max-height: 285px;
    }

    .good__img {
        width: 100%;
        height: 100%;
    }



    .footer {
        max-width: 360px;
        margin: 40px auto 0;
        /* padding-left: 6%;
        padding-right: 6%; */
        display: flex;
        flex-wrap: wrap;
    }

    .social {
        max-width: 350px;
        /* min-width: 330px; */
        height: 85px;
    }

    .wrapper-social-link {
        margin: auto;
        align-content: center;
    }

    .social-link {
        /* margin: 0; */
        justify-content: space-evenly;
    }

    .footer__copyright {
        margin-top: 50px;
        margin-bottom: 50px;
    }


}

/*---- tablet (rubber lout)----*/
@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait),
(max-width:640px) and (orientation: landscape) {
    h2 {
        font-size: 18px;
    }

    .header-container {
        /* max-width: 90%; */
        max-width: 768px;
        /* max-height: 90%; */
        min-height: 392px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        background-image: url("../images/banner-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 0;
    }

    .header-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: -1;
    }

    .header-content {
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        /* max-width: 86%; */
        font-weight: 700;
        font-size: 40px;
    }

    .header__title {
        max-width: 100%;
        max-height: 48%;
        /* padding-right: 10%;
        padding-left: 10%;
        padding-top: 12%; */
        padding: 12% 10% 12% 10%;
        text-align: center;
        line-height: 55px;
    }

    .header__menu {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4%;
        padding-right: 5%;
        padding-left: 5%;
        position: relative;
    }

    .header__logo {
        height: 40px;
        width: 166px;
        background-image: url("../svg/noemi-logo.svg");
    }

    .header__burger {
        display: block;
        position: relative;
    }

    .header__list {
        display: none;
    }

    /*----- trends (tablet) -----*/
    .title-page {
        margin-top: 45px;                           /*  h2   */
        /* text-align: center; */
        /* line-height: 29px; */
        /* color: #0f0d0e; */
    }

    .trends-container {
        /* max-width: 90%; */
        max-width: 768px;
    }

    .trends-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 3px;
    }

    .trend__info {
        padding: 36px 20px 30px 20px;
    }

    .trend {
        max-width: 49.7%;
        /* max-height: 33%; */
    }

    .main-conteiner {
        max-width: 697px;
        /* max-width: 90%; */
        margin: 8% auto 8% auto;
        gap: 5%;
    }

    .posts-list {
        /* margin-left: 8%; */
        max-width: 56%;
        /* max-width: 214px; */
    }

    .post__picture {
        max-height: 226px;
        /* max-width: 82%; */

    }

    .post-info {
        min-width: 100%;
    }

    .post__text-container {
        max-width: 100%;
    }



    /* -------- page2 SIDE BAR---------- */
    .side-bar {
        /* max-width: 305px; */
        /* max-width: 270px; */
        max-width: 39%;
        margin-top: 10px;
    }

    /* .side-bar {
        max-width: 40.5%;
    } */

    .side-bar__title {
        margin-top: 44px;
        font-size: 16px;
    }

    .side-bar__title:nth-child(1) {
        margin-top: 0;
   }

    .subscribe__input, .subscribe__btn {
        width: 100%;
        /* min-width: 270px; */
    }

    .side-bar__search {
        /* max-width: 80%; */
        /* max-width: 271px; */
        max-height: 48px;
    }

    .search__btn {
        /* width: 18%; */
        max-width: 48px;
        max-height: 48px;

    }



    /* --------- shop -----------*/
    .shop {
        /* max-width: 91%; */
        margin: auto;
        padding: 0;
    }

    .shop-container {
        flex-direction: row;
        flex-wrap: wrap;
        /* padding-left: 4%;
        padding-right: 4%; */
        gap: 4%;
    }

    .good-card {
        /* width: 347px;*/
        max-width: 48%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good-card:nth-child(3) {
        margin-bottom: 0;
        margin-top: 25px;
    }

    .good__img-wrapper {
        max-width: 88%;
        /* max-height: 90%; */
        height: 226px;
        margin-bottom: -30px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #eff6f1;
    }

    .good__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .good__info {
        max-width: 102%;
        /* height: 264px; */
        /* max-width: 310px; */
        padding: 20% 6% 6% 6%;
    }

    .good__title {
        font-size: 17px;
        line-height: 22px;
    }

    .good__description {
        /* max-width: 291px; */
        font-size: 15px;
        line-height: 22px;
    }



    .social {
        max-width: 100%;
        /* margin: 0 auto 0 auto; */
        margin: 60px auto 70px;
        padding: 30px;
    }
}


/* -------- page1 part1: BANNER+LOGO+NAV+TITLE -----1200px----- */
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape), (min-width: 1201px) {
    .header-container {
        width: 100%;
        /* max-width: 1200px; */
        /* height: 100%; */
        min-height: 450px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        background-image: url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 0;
    }

    .header-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: -1;
    }

    .header-content {
        max-width: 1200px;
    }

    .header__menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0.1% 0 0.1%;

    }

    .header__logo {
        height: 40px;
        width: 180px;
        background-image: url("../svg/noemi-logo.svg");
    }

    .header__burger {
        display: none;
    }

    /* .burger__checkbox {
        display: none;
        visibility: hidden;
    } */

    .header__list {
        width: 462px; /*462px or 32%?*/
        margin: 0;
        padding: 0 0 0 11%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-size: 0.8rem;
    }

    .header__menu-link {
        text-decoration: none;
        color: inherit;
    }

    .header__menu-link:hover {
        text-decoration:underline;
        color: white;
    }

    .header__title {
        width: 100%;
        /* max-width: 700px; */
        margin: auto;
        /* padding-right: 18%;
        padding-left: 18%;
        padding-top: 6.5%; */
        padding: 6.5% 18% 6.5% 18%;
        text-align: center;
        font-size: x-large;
        /* font-size: 45px; */
        line-height: 75px;
    }


    /* -------- page1 part2 TRENDS ---------- */
    .trends-container {
        max-width: 1650px;
        /* max-height: 450px; */
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .title-page {                               /*  h2   */
        /* font-size: 20px; */
        text-align: center;
        line-height: 29px;
        color: #0f0d0e;
    }

    .trends-content {
        /* display: flex;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    .trend__info {
        display: flex;
        padding: 38px 31px;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        /* box-sizing: border-box;
        border: 3px solid #b59f5b;
        font-family: "OpenSans-Bold"; */
    }

    /* -------- page2 MAIN ---------- */
    .main-conteiner {
        display: flex;
        justify-content: center;
        width: 1165px;
        min-width: 897px;
        margin: 60px auto 0;
    }

    /* -------- page2 POSTS ---------- */
    .posts-list {
        width: 77%;                        /*  77%=897px  */
        min-width: 570px;
        /* flex-shrink: 0;
        flex-grow: 0; */
    }

    .post {
        width: 100%;
        min-height: 290px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .post:last-child {
        margin-bottom: 0;
    }

    .post__picture {
        width: 378px;          /*  42%=378px  */
        min-width:294px;
    }

    .post__img {
        width: 100%;
        height: 100%;
        display: block;
        /* height: 290px; */
        object-fit: cover;
    }

    .post-info {
        width: 57.75%;          /* 58%=519px  */
        min-width: 289px;
        margin-top: 0;
        padding-left: 3.33%;
        padding-right: 13%;
        box-sizing: border-box;
        color: black;
    }

    .post-tags {
        margin-bottom: 3px;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0px;
        font-size: 14px;
        font-weight: 700;
        color: #ae9e5f;
    }

    .post-tag {
        margin-right: 20px;

    }

    .post-tag-link {
        color: #b59f5b;
        text-decoration: none;
    }

    .post-tag-link:hover {
        text-decoration: underline;
    }

    .post-title-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #0f0d0e;
    }

    .post-title-link:hover {
        color: #ae9e5f;
    }

    .post__frame {
        margin-top: 9%;
        margin-bottom: 12%;
        text-transform: none;
    }

    .post-data, .post-author {
        display: inline-block;
        margin-right: 1.93%;
        font-size: 12px;
    }

    .post__text-container {
        display: flex;
        max-width: 367px;
        min-height: 174px;
        margin-right: -10%;
        margin-bottom: 0;
    }

    .post__text {
        /* margin-top: auto;
        margin-bottom: auto; */
        text-transform: none;
        font-size: 15px;
        line-height: 22px;
        color: #0f0d0e;
        font-weight: 400;
    }

    /* -------- page2 SIDE BAR---------- */
    .side-bar {
        width: 23%;
        min-width: 270px;
    }

    .side-bar__title {
        font-size: 14px;
    }

    .side-bar__title:nth-child(1) {
        margin-top: 0;
    }

    .subscribe__input, .subscribe__btn {
        width: 100%;
        min-width: 270px;
    }

    /* -------- page2 SIDE BAR: 1. news-posts --------- */
    /* -------- page2 SIDE BAR: search-form + subscribe-form --------- */

    .search__input:focus, .subscribe__input:focus {
        border: 2px solid #b59f5b;
    }

    /* --------- shop -----------*/
    .shop {
        width: 1165px;
        min-width: 897px;
        margin: 60px auto 0;
        padding: 0;
    }

    .shop-container {
        flex-wrap: nowrap;
        padding: 0;
    }

    .good-card {
        width: 347px;
        height: 441px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good__img-wrapper {
        width: 300px;
        height: 204px;
        /* margin-bottom: -30px;
        background-color: #eff6f1; */
    }

    .good__img {
        width: 300px;
    }

    .good__info {
        width: 347px;
        height: 267px;
        padding-left: 23px;
        padding-right: 23px;
        background-color: rgba(0,0,0,0);
        border: 3px solid #b59f5b;
    }

    .good__title {
        font-size: 19.99px;
        line-height: 24px;
        text-transform: uppercase;

        color: #0f0d0e;
        font-weight: 700;
    }

    .good__description {
        width: 301px;
        text-transform: none;
        font-size: 15px;
        line-height: 22px;
        color: #0f0d0e;
        font-weight: 400;
    }

    .good__link {
        text-decoration: none;
        text-transform: none;
        color: #b59f5b;
    }
    .good__link:hover {
        height: 54px;
        text-decoration: underline;
    }

    .good_basket {
        width: 100%;
        margin-top: 20px;
        display:flex;
        justify-content: space-between;
    }

    .price {
        width: 140px;
        height: 48px;
        display: block;
        line-height: 24px;
        text-transform: uppercase;
        color: #0f0d0e;
        font-weight: 700;
    }

    .price__now {
        font-size: 20px;
    }

    .price__old {
        font-size: 14px;
        text-decoration: line-through;
    }

    .go-to-shop {
        width: 140px;
        height: 48px;
        background-color: #b59f5b;
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
    }

    .go-to-shop:hover {
        background-color: #323232;
    }



    /* ------- footer --------------*/
    .social {
        width: 1165px;
        margin: 60px auto 70px;
        padding: 30px;

    }


}

/*------- popup----------- */
._hidden {
    visibility: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup__close {
    position: absolute;
    right: 0;
    top: -20px;
    width: 15px;
    height: 15px;
    background-image: url("../svg/form-x.svg");
}

.popup__form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;}

.popup__conteiner {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    text-transform: none;
}

.popup__title {
    text-align: center;
    font-size: 13.99px;
}

.popup__title::after {
    content: '';
    display: block;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 66px;
    height: 3px;

    background-color: #b59f5b;
    opacity: 0.400;
}

.question, .select, .switch {
    width: 100%;
    height: 48px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    background-color: #fff;
    font-size: 13px;
    color: #000000;
}

.question {
    margin-bottom: 13px;
    margin-top: 23px;
}

.answer {
    margin-left: 20px;
    background-color: #f4f7f6;
    opacity: 0.541;
}

.popup__message {
    width: 100%;
    min-height: 108px;
    padding-left: 18px;
    box-sizing: border-box;
    resize: none;
    border: none;
    cursor: pointer;
    vertical-align: top;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 49px;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background: url("../svg/form-arrows.svg") no-repeat right 10px center #f4f7f6;
    background-size: 3%;
    font-size: 13px;
    color: #7f8180;
}

.select:focus {
    outline: none;
}

.switch {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    gap: 15px;
}

.choice::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

input:checked + .choice::before {
    background-image: url("../svg/form-circle.svg");
}

.popup__button {
    min-height: 49px;
    width: 100%;
    margin-top: 26px;
    background-color:#b59f5b;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.popup__button:hover {
    background-color: #323232;
}
